<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>UPC Today</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="description" content="Example of responsive web implementation">
	<meta name="author" content="Natan Santolo">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="apple-touch-startup-image" href="startup.png"> 
	<link rel="apple-touch-icon" href="assets/icon.png" />

	<link rel="icon" href="assets/favicon.ico" sizes="32x32">
	<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/libs/add2home/add2home.css">
</head>
<body>

	<div id="header-container" class="off">
		<header class="wrapper clearfix">
			<div id="logo" class="asset">
				<!--img src="assets/icon.png"-->
			</div>

			<div class="button bordered back off">
				<span class="pointer"></span>
				<div class="content">
					<span class="label">Back</span>
				</div>
			</div>

			<h1>Loading</h1>
		</header>
	</div>

	<nav id="main-nav" class="off">
		<ul>
			<li><a href="#home"><div class="asset"></div>Home</a></li>
			<li><a href="#nowandnext"><div class="asset"></div>TV Guide</a></li>
			<li><a href="#ondemand"><div class="asset"></div>On Demand</a></li>
			<li><a href="#catchup"><div class="asset"></div>Catch Up</a></li>
			<li><a href="#more"><div class="asset"></div>More</a></li>
		</ul>
	</nav>

	<div id="main-container" class="clearfix">
		<div id="main" class="wrapper clearfix">
			<img src="assets/startup.png" />					
		</div> <!-- #main -->
	</div> <!-- #main-container -->


	<script type="text/javascript">
	var addToHomeConfig = {
		expire: 0
	};
	</script>
	<script src="js/libs/add2home/add2home.js"></script>
	<!--script src="js/libs/zepto/zepto.min.js"></script-->
	<script src="js/libs/jquery/jquery.js"></script>
	<script src="js/libs/underscore/underscore.js"></script>
	<script src="js/libs/backbone/backbone.js"></script>
	<script src="js/libs/require/require.js" data-main="js/main"></script>

	<script type="text/template" id="home-template">
		<h1>UPC Today</h1>
		<div id="inner-content" class="maximize">
			<div class="scrollable">
				<div id="damero">
					<ul class="clearfix">
						<li class="schedule"><a href="#schedule"><div class="icon" />Schedule a recording</a></li>
						<li class="watchnow"><a href="#watchnow"><div class="icon" />Now on your TV</a></li>
						<li class="search"><a href="#search"><div class="icon" />Search TV</a></li>
						<li class="werecommend"><a href="#werecommend"><div class="icon" />We recommend</a></li>
					</ul>
				</div>
			</div>
		</div>
	</script>


	<script type="text/template" id="watchnow-template">
		<h1>Watch Now</h1>
		<nav id="inner-nav">
			<div class="search asset"></div>
			<input type="search" placeholder="Type channel name" name="search" autocomplete="off">
		</nav>

		<div id="inner-content">
			<div class="scrollable">
				<ol class="mosaic clearfix">
					<li><span class="nro">1</span><div class="ned1 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">2</span><div class="ned2 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">3</span><div class="ned3 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">4</span><div class="rtl4 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">5</span><div class="rtl5 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">6</span><div class="sbs6 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">7</span><div class="veronica logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">8</span><div class="ned1 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">9</span><div class="ned2 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">10</span><div class="ned3 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">11</span><div class="rtl4 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">12</span><div class="rtl5 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">13</span><div class="sbs6 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">14</span><div class="veronica logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">15</span><div class="ned1 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">16</span><div class="ned2 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">17</span><div class="ned3 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">18</span><div class="rtl4 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">19</span><div class="rtl5 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">20</span><div class="sbs6 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">21</span><div class="veronica logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">22</span><div class="ned1 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">23</span><div class="ned2 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">24</span><div class="ned3 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">25</span><div class="rtl4 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">26</span><div class="rtl5 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">27</span><div class="sbs6 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">28</span><div class="veronica logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">29</span><div class="ned1 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">30</span><div class="ned2 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">31</span><div class="ned3 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">32</span><div class="rtl4 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">33</span><div class="rtl5 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">34</span><div class="sbs6 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">35</span><div class="veronica logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">36</span><div class="ned1 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">37</span><div class="ned2 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">38</span><div class="ned3 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">39</span><div class="rtl4 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">40</span><div class="rtl5 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">41</span><div class="sbs6 logo" /><p>Program details Two lines</p></li>
					<li><span class="nro">42</span><div class="veronica logo" /><p>Program details Two lines</p></li>
				</ol>
			</div>
		</div>
	</script>

	<script type="text/template" id="search-template">
		<h1>Search</h1>
		<nav id="inner-nav">
			<form onclick="">
				<div class="search asset"></div>
				<input type="search" placeholder="Type channel name" name="search" autocomplete="off">
				<input type="radio" id="ondemand-check" name="search-mode" value="ondemand">
				<label for="ondemand-check">On demand</label>
				<input type="radio" id="tvguide-check" name="search-mode" value="tvguide">
				<label for="tvguide-check">TV Guide</label>
				<a href="#select-category"><div class="asset" />Select a category</a>
			</form>
		</nav>

		<div id="inner-content">
			<div class="scrollable">
				<ul class="list">
					<li>Bold and the Beautiful</li>
					<li>RTL Nieuws</li>
					<li>De Wereld Draait Door</li>
					<li>Bold and the Beautiful</li>
					<li>RTL Nieuws</li>
					<li>De Wereld Draait Door</li>
					<li>Bold and the Beautiful</li>
					<li>RTL Nieuws</li>
					<li>De Wereld Draait Door</li>
					<li>Bold and the Beautiful</li>
					<li>RTL Nieuws</li>
					<li>De Wereld Draait Door</li>
					<li>Bold and the Beautiful</li>
					<li>RTL Nieuws</li>
					<li>De Wereld Draait Door</li>
				</ul>
			</div>
		</div>
	</script>

	<script type="text/template" id="categoryselector-template">
		<div id="dimmer"></div>
		<div id="modal">
			<ul class="selectable-list">
				<li>Select a category <a href="#close">close</a></li>
				<li>Action</li>
				<li>Adventure</li>
				<li>Drama</li>
				<li>Family & Kids</li>
				<li>Arthouse</li>
				<li>HD & 3D</li>
				<li>Horror</li>
				<li>Comedy</li>
			</ul>
		</div>
	</script>

	<script type="text/template" id="nowandnext-template">
		<h1>Now And Next</h1>
		<nav id="inner-nav">
			<a href="#tvguide">Go to TV Guide</a>
			<a href="#search/tvguide" class="search asset">Search</a>
		</nav>

		<div id="inner-content">
			<div class="scrollable">
				<dl class="detailed-list">
					<dt><div class="ned1 logo" /></dt>
					<dd>10.05 Koffie Max</dd>
					<dd>12.00 NOS Journaal</dd>
					<dd>12.30 Schaatsen EK Allround</dd>
				</dl>
				<dl class="detailed-list">
					<dt><div class="ned2 logo" /></dt>
					<dd>10.05 Koffie Max</dd>
					<dd>12.00 NOS Journaal</dd>
					<dd>12.30 Schaatsen EK Allround</dd>
				</dl>
				<dl class="detailed-list">
					<dt><div class="ned3 logo" /></dt>
					<dd>10.05 Koffie Max</dd>
					<dd>12.00 NOS Journaal</dd>
					<dd>12.30 Schaatsen EK Allround</dd>
				</dl>
				<dl class="detailed-list">
					<dt><div class="rtl4 logo" /></dt>
					<dd>10.05 Koffie Max</dd>
					<dd>12.00 NOS Journaal</dd>
					<dd>12.30 Schaatsen EK Allround</dd>
				</dl>
				<dl class="detailed-list">
					<dt><div class="rtl5 logo" /></dt>
					<dd>10.05 Koffie Max</dd>
					<dd>12.00 NOS Journaal</dd>
					<dd>12.30 Schaatsen EK Allround</dd>
				</dl>
				<dl class="detailed-list">
					<dt><div class="sbs6 logo" /></dt>
					<dd>10.05 Koffie Max</dd>
					<dd>12.00 NOS Journaal</dd>
					<dd>12.30 Schaatsen EK Allround</dd>
				</dl>
				<dl class="detailed-list">
					<dt><div class="veronica logo" /></dt>
					<dd>10.05 Koffie Max</dd>
					<dd>12.00 NOS Journaal</dd>
					<dd>12.30 Schaatsen EK Allround</dd>
				</dl>
			</div>
		</div>
	</script>

	<script type="text/template" id="tvguide-template">
		<h1>TV Guide</h1>
		<nav id="inner-nav">
			<a href="#list" class="list-icon"><div class="asset" />List</a>
			<select>
				<option label="Vandaag" selected="selected">Vandaag</option>
				<option label="Maandag">Maandag</option>
				<option label="Dinsdag">Dinsdag</option>
				<option label="Woensdag">Woensdag</option>
				<option label="Dondergag">Donderdag</option>
				<option label="Vrijdag">Vrijdag</option>
				<option label="Zaterdag">Zaterdag</option>
				<option label="Zondag">Zondag</option>
			</select>
			<a href="#search/tvguide" class="search asset">Search</a>
		</nav>

		<div id="inner-content">
			<div class="scrollable">
				<ul class="grid">
					<li>Gelaarsde Kat 3D, De</li>
					<li>New Kids Nitro</li>
					<li>Happy Feet 2 3D, NL</li>
					<li>Het geheim van de Eenhoorn</li>
					<li>Mission: Impossible - Ghost Protocol</li>
					<li>Sherlock Holmes 2</li>
				</ul>
			</div>
		</div>
	</script>

	<script type="text/template" id="catchup-template">
		<h1>Catch Up</h1>
		<nav id="inner-nav">
			<form onclick="">
				<input type="radio" id="provider-check" name="catchup" value="provider" checked="checked">
				<label for="provider-check">Provider</label>
				<input type="radio" id="day-check" name="catchup" value="day">
				<label for="day-check">Day</label>
				<input type="radio" id="genre-check" name="catchup" value="genere">
				<label for="genre-check">Genre</label>
				<a href="#search/tvguide" class="search asset">Search</a>
			</form>
		</nav>

		<div id="inner-content">
			<div class="scrollable">
				<ul class="list">
					<li>Nederland</li>
					<li>RTL Gemist</li>
					<li>SBS6 Gemist</li>
					<li>Net 5 Gemist</li>
					<li>Veronica Gemist</li>
					<li>13th Street</li>
					<li>Syfy</li>
				</ul>
			</div>
		</div>
	</script>

	<script type="text/template" id="ondemand-template">
		<h1>On Demand</h1>
		<nav id="inner-nav">
			<!-- TODO: Create list and tile views for ondemand -->
			<a href="#tile" class="tile-icon"><div class="asset" />Tile</a>
			<!-- 
			#list button#
				<a href="#list" class="list-icon"><div class="asset" />List</a>
			-->
			<a href="#search/ondemand" class="search asset">Search</a>
		</nav>

		<div id="inner-content">
			<div class="scrollable">
				<ul class="list">
					<li>Gelaarsde Kat 3D, De</li>
					<li>New Kids Nitro</li>
					<li>Happy Feet 2 3D, NL</li>
					<li>Het geheim van de Eenhoorn</li>
					<li>Mission: Impossible - Ghost Protocol</li>
					<li>Sherlock Holmes 2</li>
					<li>Gelaarsde Kat 3D, De</li>
					<li>New Kids Nitro</li>
					<li>Happy Feet 2 3D, NL</li>
					<li>Het geheim van de Eenhoorn</li>
					<li>Mission: Impossible - Ghost Protocol</li>
					<li>Sherlock Holmes 2</li>
					<li>Gelaarsde Kat 3D, De</li>
					<li>New Kids Nitro</li>
					<li>Happy Feet 2 3D, NL</li>
					<li>Het geheim van de Eenhoorn</li>
					<li>Mission: Impossible - Ghost Protocol</li>
					<li>Sherlock Holmes 2</li>
					<li>Gelaarsde Kat 3D, De</li>
					<li>New Kids Nitro</li>
					<li>Happy Feet 2 3D, NL</li>
					<li>Het geheim van de Eenhoorn</li>
					<li>Mission: Impossible - Ghost Protocol</li>
					<li>Sherlock Holmes 2</li>
				</ul>
			</div>
		</div>
	</script>

	<script type="text/template" id="more-template">
		<h1>More</h1>
		<div id="inner-content">
			<div class="scrollable">
				<ul class="selectable-list">
					<li><a href="#more/account">Account</a><div class="arrow" /></li>
					<li><a href="#more/mediabox">Mediabox</a><div class="arrow" /></li>
					<li><a href="#more/favorites">Favorites</a><div class="arrow" /></li>
					<li><a href="#more/recordings">Recordings</a><div class="arrow" /></li>
				</ul>
				<ul class="selectable-list">
					<li><a href="#more/help">Help</a><div class="arrow" /></li>
					<li><a href="#more/about">About</a><div class="arrow" /></li>
					<li><a href="#more/feedback">Feedback</a><div class="arrow" /></li>
				</ul>
				<button class="button bordered wide"><a href="#home">Log out</a></button>
			</div>
		</div>
	</script>

	<script type="text/template" id="account-template">
		<h1>Account</h1>
		<div id="inner-content">
			<div class="scrollable">
				<ul class="selectable-list">
					<li>
						<label for="check-email-notification">Email notifications</label>
						<div class="checkbox">
							<input id="check-email-notification" name="email-notification" type="checkbox" value="true" checked="checked" />
							<label for="check-email-notification">Email notifications</label>
						</div>
					</li>
				</ul>
				<ul class="selectable-list">
					<li>
						<label for="check-remember">Remember</label>
						<div class="checkbox">
							<input id="check-remember" name="remeber" type="checkbox" value="true">
							<label for="check-remember">Remember</label>
						</div>
					</li>
				</ul>
				<ul class="selectable-list">
					<li>
						<label for="email">E-mail:</label>
						<input name="email" type="text" placeholder="example@upc.com">
					</li>
					<li>
						<label>Status:</label>
						<span>Not confirmed</span>
					</li>
				</ul>
			</div>
		</div>
	</script>

	<script type="text/template" id="mediabox-template">
		<h1>MediaBox</h1>
		<div id="inner-content">
			<div class="scrollable">
				<ul class="list">
					<li>
						<h4>UPC DVR (Thomson)</h4>
						<p>SmartCard id: 123749374<br />
						Features: Record - Set reminders<br />
						Status: Ready to use</p>
					</li>
					<li>
						<h4>UPC DVR (Thomson)</h4>
						<p>SmartCard id: 123749374<br />
						Features: Record - Set reminders<br />
						Status: Connection error</p>
					</li>
				</ul>
			</div>
		</div>
	</script>

	<script type="text/template" id="favorites-template">
		<h1>Favorites</h1>
		<div id="inner-content">
			<div class="scrollable">
				<ul class="list favorites">
					<li>
						<label for="nederland1">
							<div class="ned1 logo" />
							<strong>Nederland 1</strong>
						</label>
						<div class="favorite">
							<input id="nederland1" name="nederland1" type="checkbox" value="favorite" checked="checked" />
							<label for="nederland1">Nederland 1</label>
						</div>
					</li>
					<li>
						<label for="nederland2">
							<div class="ned2 logo" />
							<strong>Nederland 2</strong>
						</label>
						<div class="favorite">
							<input id="nederland2" name="nederland2" type="checkbox" value="favorite" />
							<label for="nederland2">Nederland 2</label>
						</div>
					</li>
					<li>
						<label for="nederland3">
							<div class="ned3 logo" />
							<strong>Nederland 3</strong>
						</label>
						<div class="favorite">
							<input id="nederland3" name="nederland3" type="checkbox" value="favorite" />
							<label for="nederland3">Nederland 3</label>
						</div>
					</li>
					<li>
						<label for="rtl4">
							<div class="rtl4 logo" />
							<strong>RTL 4</strong>
						</label>
						<div class="favorite">
							<input id="rtl4" name="rtl4" type="checkbox" value="favorite" checked="checked" />
							<label for="rtl4">RTL 4</label>
						</div>
					</li>
					<li>
						<label for="rtl5">
							<div class="rtl5 logo" />
							<strong>RTL 5</strong>
						</label>
						<div class="favorite">
							<input id="rtl5" name="rtl5" type="checkbox" value="favorite" />
							<label for="rtl5">RTL 5</label>
						</div>
					</li>
					<li>
						<label for="sbs6">
							<div class="sbs6 logo" />
							<strong>SBS 6</strong>
						</label>
						<div class="favorite">
							<input id="sbs6" name="sbs6" type="checkbox" value="favorite" />
							<label for="sbs6">SBS 6</label>
						</div>
					</li>
					<li>
						<label for="veronica">
							<div class="veronica logo" />
							<strong>Veronica</strong>
						</label>
						<div class="favorite">
							<input id="veronica" name="veronica" type="checkbox" value="favorite" checked="checked" />
							<label for="veronica">Veronica</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</script>

	<script type="text/template" id="recordings-template">
		<h1>Recordings</h1>
		<div id="inner-content">
			<div class="scrollable">
				<ul class="list">
					<li>
						<h4>Bold and the Beautiful</h4>
						<p>Tuesday 24 January 2012 | 18:00 - 19:00</p>
					</li>
					<li>
						<h4>Bold and the Beautiful</h4>
						<p>Tuesday 24 January 2012 | 18:00 - 19:00</p>
					</li>
					<li>
						<h4>Bold and the Beautiful</h4>
						<p>Tuesday 24 January 2012 | 18:00 - 19:00</p>
					</li>
				</ul>
			</div>
		</div>
	</script>

</body>
</html>
